.button {
    background-color: transparent;
    margin:1rem;
    border-color: #1ad1b9;
    width: fit-content;
    color: #bde4a6;
    font-size: 1.1rem;
  }
  
  .button:hover,
  .button:active {
    background-color:#1ad1b9;
    color: white;
  }

  #edit {
    background-color: red;
  }