.movie {
    margin: 1rem;
    width: 25rem;
    height: 30rem;
    padding: 1rem;
    background-color: #354b7c;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align:center;
    color: white;
    overflow: hidden; 
  }

  /* .movie:hover {
    transform: rotateY(180deg);
  transition: transform 1000ms ease;
  } */


  .scroll {
    overflow: auto;
    height: 11rem;
  }
  
  .movie h2 {
    font-size: 2rem;
    color: #f7e702;
  }
  
  .movie h3 {
    color: #eccf77;
    font-size: 1rem;
  }
  
  .date {
  color: white;
  }
  